<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ENET VPN GW</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../bower_components/pickadate/lib/themes/classic.css">
  <link rel="stylesheet" href="../bower_components/pickadate/lib/themes/classic.date.css">
  <link rel="stylesheet" href="../bower_components/bootstrap-vertical-tabs/bootstrap.vertical-tabs.min.css">
  <link rel="stylesheet" href="../bower_components/spectrum/spectrum.css">

  <style type="text/css">
  
  .textarea_high { 
    height: 100px;
  }
  
  .spinner {
    width: 35px;
    height: 35px;
    background-color: #333;

    border-radius: 100%;
    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;
  }

  @-webkit-keyframes scaleout {
    0% { -webkit-transform: scale(0.0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }

  @keyframes scaleout {
    0% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 100% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }

  body,html {
    min-height: 1400px;
  }

  .alert .form-group {
    margin-bottom: 0px;
  }

  .red {
    border: 1px solid red;
    background: #fee;
  }

  .ace_editor { font-size: 20px !important;}
  .form {  height: 400px;  }
  .schema {  height: 800px;  }

  .btw { color: #777; font-size: 90%; padding-left: 6px;}

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }

  .navbar-form > .form-group > .input-group {
    margin-left: 20px;
  }

  .btn:active,
  .btn:focus,
  .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .error {
    color: red;
  }

  .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

</style>

<script src="../../../backend/vpn_common.js"></script>
<script src="../../../backend/vpn_api.js"></script>
<script src="../../../backend_test/vpn_api_test.js"></script>

<script type="text/javascript">

var selected_conn = {};
var selected_conn_idx = -1;

///////////////////////////////
const grafana_ip = `172.16.11.152`;
const backend_ip = `${location.host.split(':')[0]}`;
var dashboard_name = function (nic_id) {
	
	return `enet${nic_id}-vpn@${backend_ip}`;
};
var grafana_url = function (nic_id) {

	switch(backend_ip) {
	
	case `172.16.11.177`:
	if(nic_id == 0) {
		return `http://${grafana_ip}:3000/d/Otwmjmriz/enet${nic_id}-vpnat172-16-11-177?refresh=2.5s&orgId=1&from=now-5m&to=now&kiosk`;
	};
	break;
	
	case `172.16.11.151`:
	if(nic_id == 1) {
		return `http://${grafana_ip}:3000/d/BPshBWrmz/enet${nic_id}-vpnat172-16-11-151?refresh=2.5s&orgId=1&from=now-5m&to=now&kiosk`;
	};
	break;
	
	case `172.16.11.152`:
	if(nic_id == 0) {
		return `http://${grafana_ip}:3000/d/S6Ed9irmk/enet${nic_id}-vpnat172-16-11-152?refresh=2.5s&orgId=1&from=now-5m&to=now&kiosk`;
	}
	else if(nic_id == 1) {
		return `http://${grafana_ip}:3000/d/pqNKjirmk/enet${nic_id}-vpnat172-16-11-152?refresh=2.5s&orgId=1&from=now-5m&to=now&kiosk`;
	};
	break;
	
	};
};
///////////////////////////////

window.onclick = function(e) {

	var conn_status = ``;
	if(e.path.length > 6) {
		switch(e.path[2].className) {
			
			case `checkbox schema-form-checkbox  has-success`:
			conn_status = `disconnecting`;
			break;
			
			case `checkbox schema-form-checkbox `:
			conn_status = `connecting`;
			break;
			
			default:
			return ``;
		};
		const class_name_arr = e.path[6].className.split(` `);
		var tab = -1;
		var index = -2;
		class_name_arr.forEach(function (token) {
		
			token.replace(/tab([0-9]+)/, function(match, tab_str) {
			
				if(tab_str != undefined) {
					tab = parseInt(tab_str, 10);
				};
			});
			token.replace(/index([0-9]+)/, function(match, index_str) {
			
				if(index_str != undefined) {
					index = parseInt(index_str, 10);
				};
			});
			if(tab == index) {
				selected_conn_idx = index;
				console.log(`Connection#${selected_conn_idx}>`);
			};
		});
	};
	return ``;
};

var vpn_api_op = function (vpn_cfg_str, op, conn_id) {

	const vpn_cfg = JSON.parse(vpn_cfg_str);
	if((vpn_cfg != undefined) && (vpn_cfg.conns != undefined)) {
		const backend_params = enet_vpn_get_backend_params_test(vpn_cfg);
		switch(op) {
		
			case `boot_vpn`:
			console.log(`vpn_api_op> ${op}`);
			enet_boot_vpn_test(backend_params.ip, backend_params.port, vpn_cfg);
			break;
		
			case `connect`:
			console.log(`Connection#${conn_id}> ${vpn_cfg.conns[conn_id].name}: ${op}`);
			enet_vpn_connect_test(backend_params.ip, backend_params.port, vpn_cfg, conn_id);
			break;
		
			case `disconnect`:
			console.log(`Connection#${conn_id}> ${vpn_cfg.conns[conn_id].name}: ${op}`);
			enet_vpn_disconnect_test(backend_params.ip, backend_params.port, vpn_cfg, conn_id);
			break;
		
			case `listen_on`:
			console.log(`Connection#${conn_id}> ${vpn_cfg.conns[conn_id].name}: ${op}`);
			enet_vpn_listen_on_test(backend_params.ip, backend_params.port, vpn_cfg, conn_id);
			break;
		
			case `listen_off`:
			console.log(`Connection#${conn_id}> ${vpn_cfg.conns[conn_id].name}: ${op}`);
			enet_vpn_listen_off_test(backend_params.ip, backend_params.port, vpn_cfg, conn_id);
			break;
		};
	}
	else {
		console.log(`ERROR: vpn_cfg_str:[${vpn_cfg_str}] Connection#${conn_id}> ${op}`);
	};
};

</script>

</head>
<body ng-app="test" ng-controller="TestCtrl" ng-cloak>


<script type="text/javascript">

var ipsec_conf_arr = [ ];
var ipsec_secrets_arr = [ ];

function libreswan_cfg_init(json_cfg) {

	ipsec_conf_arr = [ ];
	ipsec_secrets_arr = [ ];
	for(var i = 104; i <= 107; ++i) {
		var ipsec_conf = '\n';
		ipsec_conf += '# /etc/ipsec.conf\n';
		ipsec_conf += '# # #\n';
		ipsec_conf += 'config setup\n';
		ipsec_conf += '  protostack=netkey\n';
		ipsec_conf += '  logfile=' + json_cfg.ace_nic_config[0].log_file + '\n';
		ipsec_conf += '  plutodebug=all\n';
		ipsec_conf += '#\n';
		ipsec_conf_arr.push(ipsec_conf);
		var ipsec_secrets = '\n';
		ipsec_secrets += 'include /etc/ipsec.d/*.secrets\n';
		ipsec_secrets_arr.push(ipsec_secrets);
	};
};

function conn_libreswan_cfg_add(tunnel_port_idx, json_cfg, conn_json_cfg) {

	var ipsec_conf = ipsec_conf_arr[tunnel_port_idx];
	ipsec_conf += 'conn ' + conn_json_cfg.name + '\n';
	var libreswan_specific_config = conn_json_cfg.libreswan_specific;
	var libreswan_specific_config_arr = libreswan_specific_config.split('\n');
	libreswan_specific_config_arr.forEach(function(param) {
		ipsec_conf += '  ' + param + '\n';
	});
	ipsec_conf += '  left=' + json_cfg.vpn_gw_config[0].vpn_gw_ip + '\n';
	ipsec_conf += '  right=' + conn_json_cfg.remote_tunnel_endpoint_ip + '\n';
	ipsec_conf += '  leftsubnet=' + conn_json_cfg.local_subnet + '\n';
	ipsec_conf += '  rightsubnet=' + conn_json_cfg.remote_subnet + '\n';
	ipsec_conf += '  esp=' + conn_json_cfg.encryption_type + '\n';
	ipsec_conf += '#\n';
	ipsec_conf_arr[tunnel_port_idx] = ipsec_conf;
	
	var ipsec_secrets = ipsec_secrets_arr[tunnel_port_idx];
	ipsec_secrets += json_cfg.vpn_gw_config[0].vpn_gw_ip + ' ';
	ipsec_secrets += conn_json_cfg.remote_tunnel_endpoint_ip + ' ';
	ipsec_secrets += ': PSK \"' + conn_json_cfg.pre_shared_secret + '\"\n';
	ipsec_secrets_arr[tunnel_port_idx] = ipsec_secrets;
};

function libreswan_cfg_build(json_cfg) {

	json_cfg.conns.forEach(function(conn_json_cfg) {
		
		const tunnel_port_idx = (conn_json_cfg.tunnel_port - 104);
		if((conn_json_cfg.inbound_accel == "full") && (conn_json_cfg.outbound_accel == "full")) {
			conn_libreswan_cfg_add(tunnel_port_idx, json_cfg, conn_json_cfg);
		}
		else {
			conn_libreswan_cfg_add(tunnel_port_idx, json_cfg, conn_json_cfg);
		};
	});
};

function libreswan_cfg_create(json_cfg) {

	if(json_cfg.ace_nic_config == undefined) {
		return '#';
	};
	libreswan_cfg_init(json_cfg);
	//console.log('ipsec_conf_arr[0]: %s', ipsec_conf_arr[0]);
	libreswan_cfg_build(json_cfg);
	ipsec_conf_arr.forEach(function(ipsec_conf, i) {
		
		const ipsec_conf_path = '/shared/enet' + json_cfg.ace_nic_config[0].nic_id + '_libreswan' + (104 + i) + '/ipsec.conf';
		//fs.writeFileSync(ipsec_conf_path, ipsec_conf, { encoding: 'utf8', flag: 'w'});
	});
	ipsec_secrets_arr.forEach(function(ipsec_secrets, i) {
		
		const ipsec_secrets_path = '/shared/enet' + json_cfg.ace_nic_config[0].nic_id + '_libreswan' + (104 + i) + '/ipsec.secrets';
		//fs.writeFileSync(ipsec_secrets_path, ipsec_secrets, { encoding: 'utf8', flag: 'w'});
	});
	return ipsec_conf_arr;
};

</script>


<script type="text/javascript">

var debug_mode = false;

function toggle_debug() {

	debug_mode = (debug_mode == false) ? true : false;
	const visibility = (debug_mode == true) ? "block" : "none";
	document.getElementById("form_title").style.display = visibility;
	document.getElementById("form_content").style.display = visibility;
	document.getElementById("schema_title").style.display = visibility;
	document.getElementById("schema_content").style.display = visibility;
	document.getElementById("model_title").style.display = visibility;
	document.getElementById("model_content").style.display = visibility;
	//document.getElementById("libreswan_title").style.display = visibility;
	document.getElementById("libreswan_content").style.display = visibility;
};

</script>


  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
	  <img src="img/EthernityLogo.png" height="60" alt="Ethernity Networks Ltd.">
      <a class="navbar-brand glyphicon glyphicon-cog" onclick="toggle_debug()"></a>
      <p style="display:inline-block;color:red;font-size:25px;vertical-align:bottom;">&nbsp;&nbsp;&nbsp;&nbsp; ENET VPN GW</p>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">

          <button class="btn btn-primary" ng-click="save();" tooltip-trigger="mouseenter" tooltip-placement="right" tooltip='Share the schema/form code.' style="display:none">Save to gist</button>

          <div class="input-group" ng-show="navbarMode === 'default' && !error"></div>
          <div class="input-group" ng-show="navbarMode === 'loaded' && !error">
            <span ng-show="loadedData.user">Loaded configuration created by {{loadedData.user}} {{loadedData.created}}.</span>
            <div ng-show="!loadedData" class="spinner"></div>
          </div>

          <div class="input-group" ng-show="navbarMode === 'saved' && savedGistData.url && !error">
            <div class="input-group-addon">Link</div>
            <input type="text" class="form-control" value="{{savedGistData.url}}">
            <span ng-if="hasFlash" class="input-group-btn">
              <button tooltip-trigger="focus" tooltip-placement="right" tooltip='Copied to clipboard' clip-copy="savedGistData.url" class="btn btn-default copy" type="button"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
            </span>
          </div>

          <div class="input-group" ng-show="navbarMode === 'saved' && savedGistData.data.html_url && !error">
            <div class="input-group-addon">Gist</div>
            <input type="text" class="form-control" value="{{savedGistData.data.html_url}}">
            <span ng-if="hasFlash" class="input-group-btn">
              <button tooltip-trigger="focus" tooltip-placement="right" tooltip='Copied to clipboard' clip-copy="savedGistData.data.html_url" class="btn btn-default copy" type="button"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></button>
            </span>
          </div>

          <div class="input-group" ng-show="navbarMode === 'saved' && !savedGistData && !error">
            <div class="spinner"></div>
          </div>

          <div class="input-group error" ng-show="error">{{error}}</div>
        </div>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="col-md-12">
  <div class="row">
    <div class="col-sm-6">

      <form name="ngform"  sf-model="modelData" sf-form="form" sf-schema="schema" ng-submit="submitForm(ngform,modelData)"></form>
<!--
      <form name="ngform"
            sf-model="modelData"
            sf-form="form"
            sf-schema="schema"
            ng-submit="submitForm(ngform,modelData)">
      </form>
-->
      <div ng-show="ngform.$valid"><em>Form is valid</em></div>
      <div ng-show="ngform.$invalid"><em>Form is not valid</em></div>

      <h3 id="model_title" style="display:none;">Model</h3>
      <pre id="model_content" style="display:none;" ng-cloak>{{pretty()}}</pre>
    </div>
    <div class="col-sm-6">
      <h3>Select Configuration Template</h3>
        <div class="form-group">
        <select class="form-control" id="selectTest"
                ng-model="selectedTest"
                ng-options="obj.name for obj in tests">
        </select>
		<!--
        <span class="btw">
          By the way, there is also an example of
          <a href="custom-validators.html">custom (async) validators</a> example.
        </span>
		-->
      </div>

      <div class="row">
		<div class="col-sm-8">
			<iframe id="charts_view" width="151%" height="750px" src="">
			<p>Your browser does not support iframes.</p>
			</iframe>	  
		</div>
      </div>
	  
	  <div id="libreswan_content" style="display:none;" class="row">
		<div class="col-sm-3">
		  <h4>LibreSwan Configuration (port 104)</h4>
		  <pre ng-cloak>{{get_libreswan_conf(104)}}</pre>
		</div>
		<div class="col-sm-3">
		  <h4>LibreSwan Configuration (port 105)</h4>
		  <pre ng-cloak>{{get_libreswan_conf(105)}}</pre>
		</div>
		<div class="col-sm-3">
		  <h4>LibreSwan Configuration (port 106)</h4>
		  <pre ng-cloak>{{get_libreswan_conf(106)}}</pre>
		</div>
		<div class="col-sm-3">
		  <h4>LibreSwan Configuration (port 107)</h4>
		  <pre ng-cloak>{{get_libreswan_conf(107)}}</pre>
		</div>
	  </div>
      <h3 id="form_title" style="display:none;">Form</h3>
      <div id="form_content" style="display:none;" ui-ace="{ theme: 'monokai',mode:'json'}"
           ng-class="{red: !itParsesForm}" ng-model="formJson" class="form-control form"></div>
      <h3 id="schema_title" style="display:none;">Schema</h3>
      <div id="schema_content" style="display:none;" ui-ace="{ theme: 'monokai',mode:'json'}"
           ng-class="{red: !itParses}" ng-model="schemaJson" class="form-control schema"></div>
    </div>
  </div>
  <!--
  <div>
      <p>
          <small>
              <a href="../jslicense.html" rel="jslicense">JavaScript license information</a>
          </small>
      </p>
  </div>
  -->
</div>

<script type="text/ng-template" id="template/tooltip/tooltip-popup.html">
  <div class="tooltip {{placement}} {{class}}" ng-class="{ in: isOpen(), fade: animation() }">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner" ng-bind="content"></div>
  </div>
</script>

<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/g/jquery.ui@1.10"></script>
<script type="text/javascript" src="../bower_components/tv4/tv4.js"></script>
<script type="text/javascript" src="../bower_components/ace-builds/src-min-noconflict/ace.js"></script>
<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ng-clip/0.2.6/ng-clip.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script> -->
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-sanitize.min.js"></script> -->


<script type="text/javascript" src="../bower_components/angular-ui-sortable/sortable.js"></script>
<script type="text/javascript" src="../bower_components/angular-ui-ace/ui-ace.js"></script>
<script type="text/javascript" src="../bower_components/objectpath/lib/ObjectPath.js"></script>
<script type="text/javascript" src="../bower_components/pickadate/lib/picker.js"></script>
<script type="text/javascript" src="../bower_components/pickadate/lib/picker.date.js"></script>
<script type="text/javascript" src="../bower_components/pickadate/lib/translations/nl_NL.js"></script>

<script type="text/javascript" src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script type="text/javascript" src="../bower_components/tx-tinymce/tx-tinymce.js"></script>

<script type="text/javascript" src="../bower_components/spectrum/spectrum.js"></script>
<script type="text/javascript" src="../bower_components/spectrum/i18n/jquery.spectrum-sv.js"></script>
<script type="text/javascript" src="../bower_components/angular-spectrum-colorpicker/dist/angular-spectrum-colorpicker.min.js"></script>


<script type="text/javascript" src="../dist/schema-form.js"></script>
<script type="text/javascript" src="../dist/bootstrap-decorator.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-schema-form-datepicker/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-schema-form-colorpicker/bootstrap-colorpicker.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-schema-form-tinymce/bootstrap-tinymce.js"></script>

<script type="text/javascript" src="syntax/syntax_libreswan.js"></script>
<script type="text/javascript" src="syntax/syntax_common.js"></script>

<script type="text/javascript">
// @license magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&dn=expat.txt Expat
//
// To test the tinymce addon, uncomment the files above and inject 'tx-tinymce' below.
/*global alert*/
var app = angular.module('test', ['schemaForm', 'ui.ace', 'ngClipboard', 'ui.bootstrap.tooltip', 'schemaForm-tinymce']);
app.config(['ngClipProvider', function(ngClipProvider) {
    ngClipProvider.setPath('//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.swf');
  }]);
app.controller('TestCtrl', function($scope, $http, $location, $q) {

///////////////////////////////
const host_port = $location.port();
const initial_nic_id = (host_port - 44443);
///////////////////////////////

  $scope.tests = [
    /*
    { name: "Simple", data: 'data/simple.json' },
    { name: "Basic JSON Schema Type", data: 'data/types.json' },
    { name: "Bootstrap Grid", data: 'data/grid.json' },
    { name: "Complex Key Support", data: 'data/complex-keys.json' },
    { name: "Array", data: 'data/array.json' },
    { name: "Tab Array", data: 'data/tabarray.json' },
    { name: "TitleMap Examples", data: 'data/titlemaps.json' },
    { name: "Kitchen Sink", data: 'data/sink.json' },
    { name: "Hack: Conditional required", data: 'data/conditional-required.json' },
	*/
    { name: "ENET VPN GW (NIC #1, 10 tunnels, Initiator)", data: 'data/enet_vpn_schema_form.json', model: 'model/bench/multinic/enet0_vpn_config_initiator_10.json' },
    { name: "ENET VPN GW (NIC #2, 10 tunnels, Listener)", data: 'data/enet_vpn_schema_form.json', model: 'model/bench/multinic/enet1_vpn_config_listener_10.json' },
    { name: "ENET VPN GW (NIC #1, 15 tunnels, Initiator)", data: 'data/enet_vpn_schema_form.json', model: 'model/bench/multinic/enet0_vpn_config_initiator_15.json' },
    { name: "ENET VPN GW (NIC #2, 15 tunnels, Listener)", data: 'data/enet_vpn_schema_form.json', model: 'model/bench/multinic/enet1_vpn_config_listener_15.json' },
    { name: "ENET VPN GW (NIC #1, 51 tunnels, Initiator)", data: 'data/enet_vpn_schema_form.json', model: 'model/bench/multinic/enet0_vpn_config_initiator_51.json' },
    { name: "ENET VPN GW (NIC #2, 51 tunnels, Listener)", data: 'data/enet_vpn_schema_form.json', model: 'model/bench/multinic/enet1_vpn_config_listener_51.json' }
  ];

  $scope.navbarMode = 'default';
  $scope.hasFlash = swfobject.hasFlashPlayerVersion('9');

  // Load data from gist.
  if ($location.path().length > 4) {
    $scope.navbarMode = 'loaded';
    var gistId = $location.path().replace('/','');
    $scope.loading = true;
    $http.get('https://api.github.com/gists/' + gistId).success(function(res) {
      $scope.error = null;
      $scope.tests.unshift({name: 'Gist'});
      $scope.selectedTest = $scope.tests[initial_nic_id];
      $scope.loadedData = {
        created: moment(res.created_at).fromNow(),
        user: res.user !== null ? res.user.login : 'Anonymous'
      }
      $scope.loading = false;
      $scope.schemaJson = res.files['schema.json'].content;
      $scope.formJson   = res.files['form.json'].content;
      $scope.modelData  = JSON.parse(res.files['model.json'].content);
      try {
		const nic_name = $scope.modelData.ace_nic_config[0].nic_name;
		document.getElementById("charts_view").src = grafana_url(nic_name);
      } catch (e){
 			document.getElementById("charts_view").src = "";
      };
      $scope.LibreSwan_conf  = libreswan_expr_cfg_build($scope.modelData);
    }).error(function() {
      $scope.loadedData = 'dummy';
      $scope.error = 'Failed to load gist.';
      $scope.selectedTest = $scope.tests[initial_nic_id];
    });
  } else {
    $scope.selectedTest = $scope.tests[initial_nic_id];
  }

  $scope.$watch('selectedTest',function(val){
    if (val && val.data !== undefined) {
		$scope.product_list_1 = $http.get(val.data, {cache: false});
		$scope.product_list_2 = $http.get((val.model || 'model/empty.json'), {'cache': false});
		$q.all([$scope.product_list_1, $scope.product_list_2]).then(function(values) {
		
			setNewData(values[0], values[1]);
		});
    }
  });

  $scope.decorator = 'bootstrap-decorator';

  $scope.itParses     = true;
  $scope.itParsesForm = true;


  $scope.$watch('schemaJson',function(val,old){
    if (val && val !== old) {
      try {
        $scope.schema = JSON.parse($scope.schemaJson);
        $scope.itParses = true;
      } catch (e){
        $scope.itParses = false;
      }
    }
  });

  $scope.$watch('formJson',function(val,old){
    if (val && val !== old) {
      try {
        $scope.form = JSON.parse($scope.formJson);
        $scope.itParsesForm = true;
      } catch (e){
        $scope.itParsesForm = false;
      }
    }
  });

  var setNewData = function(res_data, res_model) {
    $scope.schema = res_data.data.schema;
    $scope.form   = res_data.data.form;
    $scope.schemaJson = JSON.stringify($scope.schema,undefined,2);
    $scope.formJson   = JSON.stringify($scope.form,undefined,2);
    $scope.modelData = res_model.data.VPN || res_data.data.model || {};
	  try {
		const nic_name = $scope.modelData.ace_nic_config[0].nic_name;
		document.getElementById("charts_view").src = grafana_url(nic_name);
	  } catch (e){
			document.getElementById("charts_view").src = "";
	  };
    $scope.LibreSwan_conf  = libreswan_expr_cfg_build($scope.modelData);
  };

  $scope.pretty = function(){
    return typeof $scope.modelData === 'string' ? $scope.modelData : JSON.stringify($scope.modelData, undefined, 2);
  };
  
  $scope.toggle_enabled = function (toggle_value, form) {

    vpn_api_op(document.getElementById("model_content").innerHTML, ((toggle_value) ? `enabled` : `disabled`), selected_conn_idx);
  };
  
  $scope.toggle_listen = function (toggle_value, form) {

    vpn_api_op(document.getElementById("model_content").innerHTML, ((toggle_value) ? `listen_on` : `listen_off`), selected_conn_idx);
  };
  
  $scope.toggle_connect = function (toggle_value, form) {

    vpn_api_op(document.getElementById("model_content").innerHTML, ((toggle_value) ? `connect` : `disconnect`), selected_conn_idx);
  };

  $scope.get_libreswan_conf = function(port_id){

    const conf_idx = (port_id - 104);
	if($scope.LibreSwan_conf == undefined) {
		return '#';
	};
    return $scope.LibreSwan_conf[conf_idx];
  };

  $scope.log = function(msg){
    console.log("Simon says",msg);
  };

  $scope.sayNo = function() {
    alert('Noooooooo');
  };

  $scope.say = function(msg) {
    alert(msg);
  };

  $scope.save = function() {
    // To be able to save invalid json and point out errors, we
    // don't save the schema/form but rather the ones in the input.

    $scope.navbarMode = 'saved';

    var gist = {
      "description": "A saved configuration for a schema form example, http://textalk.github.io/angular-schema-form/examples/bootstrap-example.html",
      "public": true,
      "files": {
        "schema.json": {
          "content": $scope.schemaJson
        },
        "form.json": {
          "content": $scope.formJson
        },
        "model.json": {
          "content": JSON.stringify($scope.modelData, undefined, 2)
        }
      }
    };

    $http.post('https://api.github.com/gists', gist).success(function(data) {
      $scope.error = null;
      $location.path('/' + data.id);
      $scope.savedGistData = {
        data: data,
        url: $location.absUrl()
      };
    }).error(function() {
      $scope.error = 'Failed to save gist.';
    });
  };

  $scope.submitForm = function(form) {
  
	var expr = '\n';

	const json_cfg = $scope.modelData;
	vpn_api_op(JSON.stringify(json_cfg), `boot_vpn`);
	/*
	var conn_dictionary = { };
	const conns_count = json_cfg.conns.length;
	for(var i = 0; i < conns_count; ++i) {
		conn_dictionary_append(conn_dictionary, json_cfg.VPN, i);
	};
	expr += JSON.stringify(conn_dictionary, null, 2);
	*/
  };

  /*
  $scope.submitForm = function(form) {
    // First we broadcast an event so all fields validate themselves
    $scope.$broadcast('schemaFormValidate');
	
    $http.post('https://api.github.com/gists', gist).success(function(data) {
      $scope.error = null;
      $location.path('/' + data.id);
      $scope.savedGistData = {
        data: data,
        url: $location.absUrl()
      };
    }).error(function() {
      $scope.error = 'Failed to save gist.';
    });	
	
    // Then we check if the form is valid
    if (form.$valid) {
      alert('You did it!');
    }
  };
  */

});
// @license-end
</script>
</body>
</html>

